{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="icon" type="image/x-icon" href="{% static 'main/favicon.ico'%}">
        <title>Aplicaciones para comunicaciones en red</title>
    </head>
    <body class="pt-0">

       
        <div class="d-flex toggled" id="wrapper">
              
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Aplicaciones para <br>comunicaciones<br>en red</div>
                <div class="list-group list-group-flush">

                    <a class="nav-link bg-primary text-white" href="{% url 'main' %}" id="" role="button" data-toggle="" aria-haspopup="true" aria-expanded="false">
                            Inicio
                    </a>
                    {% with request.resolver_match.url_name as url_name %}
                     <a class="nav-link bg-primary text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Contenidos
                    </a>
                    
                    <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
                            {% for unit in units %} 

                                <a class="dropdown-item text-white {% if url_name == 'resource'%}{% if this_unit.name == unit.name %}font-weight-bold{% endif %}{% endif %} " 
                                href="{% url 'resource' unit.order %}">{{unit.order}}: {{unit.name}}</a>

                                {% endfor %}
                    </div>




                    {% endwith %}
                    


                </div>
                
            </div>
            <div id="page-content-wrapper">
                 <!-- <nav class="navbar fixed-top navbar-expand-md navbar-light">
      
        

          
                    {% with request.resolver_match.url_name as url_name %}
                        
                        <li class="nav-item text-uppercase dropdown {% if url_name == 'unit' %}active font-weight-bold{% endif %}">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Unidades
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for unit in units %} 
                                    <a class="dropdown-item {% if url_name == 'unit'%}{% if this_unit.name == unit.name %}font-weight-bold{% endif %}{% endif %}" href="{% url 'unit' unit.order %}">{{unit.order}}: {{unit.name}}</a>
                                {% endfor %}
                            </div>
                        </li>
                    {% endwith %}
              
                </nav> -->


        
        <!-- El otro div acaba en el index -->        
        

        <!-- Navbar -->
        


    {% block content %}
    {% endblock %}
    </body>
</html>
<style type="text/css">
    .navbar-light {
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(20px);
        filter: drop-shadow(1px 2px 3px white);
    }
</style>
<script>

    $(document).ready(() => {
        // All images should be responsive
        $('#internaldiv img').attr('class', 'img-fluid rounded p-2'); 
    });

window.addEventListener('DOMContentLoaded', event => {

    // Toggle the side navigation
    const sidebarToggle = document.body.querySelector('#sidebarToggle');
    if (sidebarToggle) {
        sidebarToggle.addEventListener('click', event => {
            event.preventDefault();
            document.body.classList.toggle('sb-sidenav-toggled');
            localStorage.setItem('sb|sidebar-toggle', document.body.classList.contains('sb-sidenav-toggled'));
        });
    }

});

</script>

{% block extra_css %}
{% endblock extra_css %}
